@import '../css/variables.scss';
@import '../css/mixins.scss';

.carsList {
  position: relative;
  margin-bottom: 5vh;
  &-header,
  &-title {
    display: none;
  }
}

@media all and (min-width: 720px) {
  .carsList {
    text-align: left;
    line-height: 1.2;

    &-title {
      position: relative;
      display: block;

      font-size: 20px;
      text-transform: uppercase;

      color: $charcoal;

      margin: 0 auto 26px 0px;
      padding-left: 15px;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 18px;
        background: #8b9497;
      }
    }
    &-header {
      display: flex;

      background: $red;
      color: #fff;

      padding: 15px 20px 15px 15px;

      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &-col--name {
        @include name-col-size;
      }

      &-col--year {
        @include year-col-size;
        text-align: left;
      }

      &-col--color {
        width: 40px;
        margin: 0;
        text-align: center;
      }

      &-col--status {
        @include status-col-size;
      }

      &-col--price {
        @include price-col-size;
        text-align: left;
      }
    }
  }
}

@media all and (min-width: 960px) {
  .carsList {
    &-header {
      &-col--name {
        width: 45%;
      }
      &-col--status,
      &-col--price {
        width: 11%;
      }
    }
  }
}
