@import '../css/variables.scss';

/* oops %\) */
.newCar-form--color {
  .color-input {
    margin: 0;
    position: absolute;
    height: 20px;
    width: 20px;
    visibility: hidden;

    &:checked + label::before {
      border-color: $red;
      box-shadow: 0 0 0 4px $red;
    }

    &:hover + label::before {
      border-color: $red;
      box-shadow: 0 0 0 4px $red;
    }

    &:checked + .color--white::before {
      border: 0;
      width: 20px;
      height: 20px;
    }

    &:hover + .color--white::before {
      border: 0;
      width: 20px;
      height: 20px;
    }
  }

  label {
    position: relative;
    margin: 0 23px 0 0;
    font-size: 0;

    &.color--white::before {
      width: 18px;
      height: 18px;
      background: #fff;
      border: solid 1px #ddd;
    }
  }

  label:before {
    content: '';
    display: block;

    height: 20px;
    width: 20px;

    border-radius: 50%;

    background-clip: content-box;

    cursor: pointer;
  }

  .color--black::before {
    background: #000;
  }
  .color--gray::before {
    background: #cbcbcc;
  }
  .color--red::before {
    background: #d74345;
  }
  .color--green::before {
    background: #88c504;
  }
}
