@import './css/variables.scss';
@import '../node_modules/normalize.css/normalize.css';

.App {
  text-align: center;
  font-family: $font;
  color: $charcoal;
  margin: 0 10px;

  p {
    margin: 0;
    padding: 0;
  }
}

@media all and (min-width: 1024px) {
  .App {
    margin: 0;
  }
}
