.carItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 -10px;

  background: #f5f6f6;

  font-size: 14px;
  font-weight: 300;
  color: #282d30;
  text-align: left;
  line-height: 1;

  &:not(:last-child) {
    border-bottom: 1px solid #989898;
  }

  &--main {
    width: 42.5%;
    margin: 0 13.75% 0 0;
  }

  &--color {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &--price,
  &--main {
    margin-bottom: 20px;
  }

  &--options {
    font-size: 13px;
    color: #8b9497;

    margin: 0 0 20px 0;
  }

  &--year {
    width: 10%;
  }

  &--status {
    text-align: right;
    width: 32.5%;
  }

  &--delete {
    align-self: center;

    margin: -10px 0 0 auto;
    padding: 10px;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    color: #fff;
    background: #282d30;
    line-height: 0.8;

    border-radius: 33px;
    border: 0;

    cursor: pointer;
  }
}

@media all and (min-width: 720px) {
  .carItem {
    padding: 20px 20px 20px 15px;
    margin: 0;
  }
}
