@import './variables.scss';
@import './mixins.scss';

.carItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 -10px;

  background: #f5f6f6;

  font-size: 14px;
  font-weight: 300;
  color: $charcoal;
  text-align: left;
  line-height: 1.2;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(152, 152, 152, 0.2);
  }

  &--name {
    width: 47.5%;
    margin: 0 0 20px;
    line-height: 1.4;
  }

  &--color {
    width: 20px;
    height: 20px;
    margin: 0 20px 20px;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &--price {
    width: calc(33.75% - 10px);
    line-height: 1.4;
    margin: 0 10px 20px auto;
    text-align: right;
  }

  &--options {
    font-size: 13px;
    color: $palegray;
    width: 100%;
    margin: 0 0 20px 0;
  }

  &--year {
    width: 18.75%;
  }

  &--delete {
    align-self: center;

    margin: -10px 0 0 auto;
    padding: 10px;

    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;

    color: $palegray;
    line-height: 1;
    background: transparent;

    border: 0;

    cursor: pointer;

    &:hover {
      color: #fff;
      background: $charcoal;
      border-radius: 33px;
    }
  }
}

@media all and (min-width: 720px) {
  .carItem {
    padding: 10px 20px 10px 15px;
    margin: 0;
    align-items: center;

    &--name {
      @include name-col-size;
    }
    &--year {
      order: 1;
      @include year-col-size;
    }

    &--color {
      order: 2;
      margin: 0 10px;
    }

    &--status {
      order: 3;
      @include status-col-size;
    }

    &--price {
      order: 4;
      text-align: left;
      @include price-col-size;
    }

    &--delete {
      order: 5;
      margin: 0 0 0 auto;
    }

    &--options {
      order: 6;
      @include name-col-size;
    }
  }
}

@media all and (min-width: 960px) {
  .carItem {
    &--name,
    &--options {
      width: 45%;
    }

    &--status,
    &--price {
      width: 11%;
    }
  }
}

@media all and (max-width: 359px) {
  .carItem {
    &--name {
      width: 43.5%;
    }
    &--color {
      margin: 0 10px 20px;
    }
    &--price {
      width: 34%;
    }
  }
}
