@import './variables.scss';

.footer {
  position: relative;
  background: $charcoal;
  display: flex;
  flex-direction: column;
  margin: 0 -10px;
  height: 102px;
  color: #fff;
  font-size: 11px;
}
.copyright {
  margin: auto;
}
