@import './variables.scss';

@font-face {
  font-family: 'PK&co';
  font-style: normal;
  font-weight: normal;
  src: local('./typeface/PK&co'), url('./typeface/PK&co.woff') format('woff');
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $charcoal;
  height: 71px;
  padding-bottom: 10px;
  margin: 0 -10px;

  &--wrapper {
    position: relative;
  }
  &--logo {
    position: absolute;
    width: 47px;
    height: auto;
    left: -33px;
    top: -4px;
    object-fit: contain;
  }
  &--name {
    font-family: 'PK&co';
    font-size: 33px;
    line-height: 1.1;
    color: #fff;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.51);
  }
}

@media all and (min-width: 720px) {
  .header {
    height: 102px;

    &--logo {
      width: 79px;
      left: -52px;
      top: -1px;
    }

    &--name {
      font-size: 54px;
    }
  }
}

@media all and (min-width: 1024px) {
  .header {
    width: 100vw;
    margin: 0;
  }
}
