@import './variables.scss';

.main {
  position: relative;

  &--title {
    font-size: 42px;
    line-height: 1;
    color: $charcoal;
    margin: 35px auto;
  }
}

@media all and (min-width: 720px) {
  .main {
    &--title {
      margin: 67px auto 57px;
    }
  }
}
